.ST-container
{
  min-height: 100vh;
}

.ST-container.day
{
  background-color: white;
}

.ST-container.night
{
  background-color: #555555;
}

button.day {
  background-color: #FFFF33;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman';
  font-weight: 600;
  margin: 3px 6px;
  cursor: pointer;
}

button.night {
  background-color: steelblue;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman';
  font-weight: 600;
  margin: 3px 6px;
  cursor: pointer;
}

.title-container.day
{
  font-size: 40px;
  color: orangered;
  padding: 10px 20px;
}

.title-container.night
{
  font-size: 40px;
  color: lime;
  padding: 10px 20px;
}

.title-container p
{
  text-align: center;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.stock-tips-container span {
  font-size: 20px;
}

.stock-tips-container button {
  min-width: 75px;
}

.market-type-container button {
  min-width: 110px;
}
.game-container
{
  display: flex;
}

.data-container
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
}

p.day, span.day, a.day
{
  font-size: 20px;
  color: black;
}

p.night, span.night, a.night
{
  font-size: 20px;
  color: white;
}

.info-container{
  min-height: 60px;
  margin-bottom: 5px;
}

.info-container p{
  line-height: 26px;
  font-size: 26px;
}

.trader-container{
  margin-bottom: 15px;
}

.trader-container p{
  line-height: 26px;
  font-size: 26px;
  padding-right: 10px;
}

.net-worth-container{
  display: flex;
  padding-bottom: 10px;
}

.net-worth-container p{
  line-height: 32px;
  font-size: 32px;
}

.ticker-div{
  display: flex;
}

.price-container{
  margin-bottom: 15px;
}

.price-container p{
  line-height: 22px;
  font-size: 22px;
}

.ticker-div p{
  line-height: 26px;
  font-size: 26px;
  padding-right: 10px;
}

.stock-arrow.positive {
  color: green;
}

.stock-arrow.negative {
  color: red;
}

.instructional-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 500px;
}

.instructional-btns{
  margin-bottom: 12px;
}

.about-container
{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

.game-over-display-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
}

.game-over-display-container.day {
  background-color: white;
  border: 1px solid black;
}

.game-over-display-container.night {
  background-color: #555555;
  border: 1px solid white;
}

.game-over-display-container p{
  font-size: 100px;
  line-height: 100px;
}